/*-----Color Sets*/

.setOne {
    background-color: #44af69;
}
.setTwo {
    background-color: #f8333c;
}
.setThree {
    background-color: #ffffba;
}
.setFourth {
    background-color: #fcab10;
}
.setFifth {
    background-color: #2b9eb3;
}

/* -----Fonts */

.fontPlay {
    margin-top: 40px;
    font-family: 'Play', sans-serif;
}
.fontCizael {
    font-family: 'Cinzel', serif;
}

/* -----Size */

.topTitle {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffff;
    color: #000000;
    height: 200px;
}
.menuStyleOne {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 15px;
    width: 180%;
    font-size: 140%;
    height: 150px;
    font-weight: bold;
    padding-top: 20px;
}
.menuStyleTwo {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 35px;
    width: 180%;
    font-size: 140%;
    height: 130px;
    font-weight: bold;
    padding-top: 20px;
}
.menuStyleThree {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 55px;
    width: 180%;
    font-size: 140%;
    height: 110px;
    font-weight: bold;
    padding-top: 20px;
}
.menuStyleFourth {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 75px;
    width: 180%;
    font-size: 140%;
    height: 90px;
    font-weight: bold;
    padding-top: 20px;
}
.menuStyleFifth {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 95px;
    width: 180%;
    font-size: 140%;
    height: 70px;
    font-weight: bold;
    padding-top: 20px;
}

/* -----Body*/

body {
    margin: 0;
    background: #000;
}
.barCN {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.borderBot {
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: 3px white solid;
    border-radius: 6px;
}

/* ----- Notebook*/

.homeDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#44af69;
}
.projectsDiv {
    display: none;
    background-color:#f8333c;
}
.mySqlDiv {
     display: none;
     background-color: #ffffba;
}
.contactDiv {
    display: none;
    background-color: #fcab10;
}
.aboutDiv {
    display: none;
    background-color: #2b9eb3;
}
.bgWhite {
    background-color: white;
}
/*----- Video settings*/
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}